{% extends '../base.html' %} {% block title %} SignUp {% endblock title %}
{%block body%}
<section class="bg-gray-50">
  <div class="px-4 py-20 mx-auto max-w-7xl">
    <a href="/" class="flex items-center justify-start sm:justify-center">
      <p class="flex justify-center text-xl font-semibold">Sign Up</p>
    </a>
    <div
      class="w-full px-0 pt-5 pb-6 mx-auto mt-4 mb-0 space-y-4 bg-transparent border-0 border-gray-200 rounded-lg md:bg-white md:border sm:w-10/12 md:w-8/12 lg:w-6/12 xl:w-4/12 md:px-6 sm:mt-8 sm:mb-5"
    >
      <form class="pb-1 space-y-4" method="POST" action="">
        {% csrf_token %}
        <label class="block">
          <span class="block mb-1 text-base font-medium text-gray-700"
            >Name</span
          >
          <input
            class="w-full p-2 border border-gray-300 rounded-full px-3"
            type="text"
            placeholder="Enter Your Name"
            name="name"
            required
          />
        </label>
        <label class="block">
          <span class="block mb-1 text-base font-medium text-gray-700"
            >Your Email</span
          >
          <input
            class="w-full p-2 border border-gray-300 rounded-full px-3"
            type="email"
            placeholder="Enter Email Address"
            name="email"
            inputmode="email"
            required
          />
        </label>
        <label class="block">
          <span class="block mb-1 text-base font-medium text-gray-700"
            >Create a password</span
          >
          <input
            class="w-full p-2 border border-gray-300 rounded-full px-3"
            type="password"
            name="password"
            placeholder="Enter Password"
            required
          />
        </label>
        <div class="">
          <input
            type="submit"
            class="w-full mt-5 bg-gray-900 text-gray-100 hover:bg-gray-700 rounded-full p-2"
            value="Sign up"
          />
        </div>
      </form>
    </div>
    <p class="my-0 text-xs font-medium text-center text-gray-700 sm:my-5">
      Already have an account?
      <a href="" class="text-purple-700 hover:text-purple-900">Sign in</a>
    </p>
  </div>
</section>

{% endblock body %}
