{% extends '../base.html' %}
{% block title %}Verified{%endblock title%}
{%block body%}
<div class="bg-white py-6 sm:py-8 lg:py-12">
    <div class="max-w-screen-2xl px-4 md:px-8 mx-auto">
      <div class="max-w-xl flex flex-col items-center text-center mx-auto">
        <h1 class="text-black-800 text-2xl sm:text-3xl md:text-4xl font-bold mb-8 md:mb-12">Your email been verified successfully.</h1>
        <div class="w-full flex flex-col sm:flex-row sm:justify-center gap-2.5">
          <a href="{% url 'login' %}" class="inline-block bg-gray-900 hover:bg-gray-800  text-white text-sm md:text-base font-semibold text-center rounded-lg outline-none transition duration-100 px-8 py-3">Go To Login</a>
        </div>
      </div>
    </div>
  </div>
{%endblock body%}